{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
    {% trans "Two-Factor Authentication" %}
{% endblock title %}
{% block content %}
    <h1>{% trans "Two-Factor Authentication" %}</h1>
    <p>
        {% blocktranslate %}Your account is protected by two-factor authentication. Please enter an authenticator code:{% endblocktranslate %}
    </p>
    <form method="post" action="{% url 'mfa_authenticate' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <a class="btn btn-secondary"
               role="button"
               href="{% url 'account_login' %}">{% translate "Cancel" %}</a>
            <button class="btn btn-primary" type="submit">{% translate "Sign In" %}</button>
        </div>
    </form>
{% endblock content %}
