{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>
            {% block page_title %}
                {% block title %}
                {% endblock title %}
                | Legadilo
            {% endblock page_title %}
        </title>
        <meta name="description"
              content="{% translate 'Read your RSS feeds & other saved articles!' %}" />
        {% if base.author %}<meta name="author" content="{{ base.author }}" />{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="manifest" href="{% url 'website:manifest' %}" />
        <meta name="theme-color" content="#0d6efd" />
        <meta name="htmx-config" content='{"includeIndicatorStyles":false}' />
        <link rel="icon"
              type="image/png"
              href="{% static 'images/icons/legadilo.16x16.png' %}"
              sizes="16x16" />
        {% block css %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/bootstrap.min.css' %}"
                  nonce="{{ request.csp_nonce }}" />
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/base.css' %}"
                  nonce="{{ request.csp_nonce }}" />
            {% block page_css %}
            {% endblock page_css %}
        {% endblock css %}
        {# Placed at the top of the document so pages load faster with defer #}
        {% block javascript %}
            {% if debug %}
                <script src="{% static 'popper.js' %}" nonce="{{request.csp_nonce}}" defer></script>
                <script src="{% static 'js/bootstrap.js' %}"
                        nonce="{{request.csp_nonce}}"
                        defer></script>
                <script src="{% static 'htmx.js' %}" nonce="{{request.csp_nonce}}" defer></script>
                <script src="{% static 'django-browser-reload/reload-listener.js' %}"
                        data-worker-script-path="{%  static 'django-browser-reload/reload-worker.js' %}"
                        data-events-path="{%  url 'django_browser_reload:events' %}"
                        nonce="{{request.csp_nonce}}"
                        defer></script>
            {% else %}
                <script src="{% static 'popper.min.js' %}"
                        nonce="{{request.csp_nonce}}"
                        defer></script>
                <script src="{% static 'js/bootstrap.min.js' %}"
                        nonce="{{request.csp_nonce}}"
                        defer></script>
                <script src="{% static 'htmx.min.js' %}" nonce="{{request.csp_nonce}}" defer></script>
            {% endif %}
            <script src="{% static 'js/base.js' %}" nonce="{{request.csp_nonce}}" defer></script>
            {% block page_js %}
            {% endblock page_js %}
        {% endblock javascript %}
    </head>
    <body class="content-body">
        <div class="content-main-container">
            <div id="danger-modal"
                 class="modal fade"
                 tabindex="-1"
                 aria-labelledby=""
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5"></h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "No" %}</button>
                            <button type="button" class="btn btn-danger proceed">{% translate "Yes" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            {% if not base.hide_header %}
                <div class="header-container mb-1 sticky-top">
                    <nav class="navbar navbar-expand-md navbar-light bg-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler navbar-toggler-right"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            {% block center_navbar %}
                            {% endblock center_navbar %}
                            <a class="navbar-brand" href="{% url 'reading:default_reading_list' %}">Legadilo</a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'reading:default_reading_list' %}">{% translate "Default reading list" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'website:home' %}">{% translate "About" %}</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav">
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item">
                                            <form action="{% url 'reading:search' %}" method="get">
                                                <div class="input-group">
                                                    <span class="input-group-text">{% include "core/partials/bs-icons/search.html" %}</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="q"
                                                           placeholder="{% translate 'Search articles here...' %}"
                                                           minlength="3"
                                                           required />
                                                </div>
                                                <button class="visually-hidden" type="submit">{% translate "Search" %}</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'reading:add_article' %}">
                                                {% include "core/partials/bs-icons/add_article.html" %}
                                                {% translate "Add an article" %}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'users:list_notifications' %}">
                                                <span class="position-relative">
                                                    {% if user.count_unread_notifications > 0 %}
                                                        {% include "core/partials/bs-icons/new_notifications.html" %}
                                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                            {{ user.count_unread_notifications }}
                                                            <span class="visually-hidden">{% translate "unread notifications" %}</span>
                                                        </span>
                                                    {% else %}
                                                        {% include "core/partials/bs-icons/no_notifications.html" %}
                                                    {% endif %}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle"
                                               href="#"
                                               role="button"
                                               data-bs-toggle="dropdown"
                                               data-bs-reference="parent"
                                               aria-expanded="false">
                                                {% include "core/partials/bs-icons/profile_menu_icon.html" %}
                                                <span class="visually-hidden">{% translate "Profile menu" %}</span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="{% url 'reading:tags_admin' %}">{% translate "Tags admin" %}</a>
                                                <a class="dropdown-item" href="{% url 'feeds:feeds_admin' %}">{% translate "Feeds admin" %}</a>
                                                <a class="dropdown-item" href="{% url 'feeds:feed_category_admin' %}">{% translate "Feed categories admin" %}</a>
                                                <a class="dropdown-item" href="{% url 'reading:reading_lists_admin' %}">{% translate "Reading lists admin" %}</a>
                                                <a class="dropdown-item" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
                                                {# URL provided by django-allauth/account/urls.py #}
                                                <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                                            </div>
                                        </li>
                                    {% else %}
                                        {% if ACCOUNT_ALLOW_REGISTRATION %}
                                            <li class="nav-item">
                                                {# URL provided by django-allauth/account/urls.py #}
                                                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                                            </li>
                                        {% endif %}
                                        <li class="nav-item">
                                            {# URL provided by django-allauth/account/urls.py #}
                                            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            {% endif %}
            <div class="{% if base.fluid_content %}container-fluid px-0{% else %}container{% endif %}">
                {% if messages %}
                    <div class="container-lg">
                        {% for message in messages %}
                            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <footer class="content-footer d-flex align-items-center flex-column bg-dark text-white py-4">
            <p class="mb-1">
                {% if VERSION %}
                    {% blocktranslate with version=VERSION %}
                        Legadilo version {{ version }}
                    {% endblocktranslate %}
                {% else %}
                    Legadilo
                {% endif %}
            </p>
            <p class="mb-1">
                <a class="text-white" href="https://github.com/Jenselme/legadilo/issues">{% translate "Report a bug." %}</a>
                {% if CONTACT_EMAIL and user.is_authenticated %}
                    <span>
                        {% blocktranslate with email=CONTACT_EMAIL %}
                            Contact us at <a href="mailto:{{ email }}">{{ email }}</a>
                        {% endblocktranslate %}
                    </span>
                {% endif %}
            </p>
        </footer>
    </body>
</html>
