exclude: "^docs/|.idea|devcontainer.json|tests/fixtures|tests/.*snapshots/.*\\.(json|html|xml|opml)|manifest.json"
default_stages: [pre-commit]

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: (\.vscode)
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: detect-private-key

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse

  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.29.1"
    hooks:
      - id: django-upgrade
        args: ["--target-version", "5.0"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py314-plus]

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true
        language: system
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        require_serial: true
        language: system

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-django

  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: 1.7.0
    hooks:
      - id: djade
        args: [--target-version, "5.2"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        exclude: ".envrc"
        args: [-e, SC1091]

  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v16.26.1
    hooks:
      - id: stylelint
        args: [--fix]
        additional_dependencies:
          - "stylelint@16.3.1"
          - "stylelint-config-standard@36.0.0"

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v9.31.0"
    hooks:
      - id: eslint
        args: [--fix]
        additional_dependencies:
          - "globals@15.11.0"
          - "eslint@9.12.0"
          - "@eslint/js@9.12.0"

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        types_or: [yaml, css, javascript, json]
        exclude: (\.vscode)

  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: import-linter
        name: import-linter
        entry: env
        args:
          - uv
          - run
          - lint-imports
        language: system
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: env
        args:
          - DATABASE_URL=sqlite:///mypy.db
          - IS_PRODUCTION=True
          - DJANGO_SECRET_KEY=test-key
          - DJANGO_ADMIN_URL=admin/
          - uv
          - run
          - mypy
          - legadilo
          - config
        language: system
        types: [python]
        pass_filenames: false

      - id: django-check
        name: django-check
        entry: env
        args:
          - DATABASE_URL=sqlite:///mypy.db
          - IS_PRODUCTION=True
          - DJANGO_SECRET_KEY=test-key
          - DJANGO_ADMIN_URL=admin/
          - uv
          - run
          - python
          - manage.py
          - check
          - --fail-level=WARNING
        language: system
        types: [python]
        pass_filenames: false

      - id: check-po
        name: check-po
        entry: env
        args:
          - uv
          - run
          - python
          - manage.py
          - makemessages
          - --all
          - --no-location
        language: system
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: env
        args:
          - uv
          - run
          - pytest
        language: system
        types: [python]
        pass_filenames: false
        stages:
          - pre-push

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false
