{% load static i18n feeds %}

<form id="{{ article|update_article_form_id }}"
      class="visually-hidden"
      aria-hidden="true"
      method="post"
      hx-indicator=".{{ article|article_action_indicator }}"
      hx-boost="true"
      hx-push-url="false">
    {% csrf_token %}
    <input type="hidden" name="from_url" value="{{ from_url }}" />
    {% if for_article_details %}
        <input type="hidden" name="for_article_details" value="true" />
    {% else %}
        <input type="hidden"
               name="displayed_reading_list_id"
               value="{{ displayed_reading_list_id }}" />
    {% endif %}
</form>
{% if not article.was_opened and not for_article_details %}
    <form id="mark-article-as-opened-form-{{ article.id }}"
          class="visually-hidden"
          aria-hidden="true"
          method="post"
          action="{{ article|opened_action_url }}"
          hx-trigger="submit"
          hx-boost="true"
          hx-swap="outerHTML show:none"
          hx-target="#{{ article|article_card_id }}"
          hx-push-url="false">
        {% csrf_token %}
        <input type="hidden"
               name="displayed_reading_list_id"
               value="{{ displayed_reading_list_id }}" />
        <input type="hidden" name="from_url" value="{{ from_url }}" />
    </form>
{% endif %}
<div class="{% if vertical_group %}btn-group-vertical w-100{% else %}btn-group{% endif %}"
     role="group">
    <button class="btn {% if for_article_details %}btn-primary{% else %}btn-outline-secondary{% endif %} text-start"
            type="submit"
            form="{{ article|update_article_form_id }}"
            formaction="{{ article|read_action_url }}">
        {% if article.is_read %}
            <span class="icon-indicator {{ article|article_action_indicator }}">
                {% include "core/partials/button_loading_indicator.html" %}
                {% include "core/partials/bs-icons/mark_as_unread.html" %}
            </span>
            <span class="d-none d-md-inline">{% translate 'Mark as unread' %}</span>
        {% else %}
            <span class="icon-indicator {{ article|article_action_indicator }}">
                {% include "core/partials/button_loading_indicator.html" %}
                {% include "core/partials/bs-icons/mark_as_read.html" %}
            </span>
            <span class="d-none d-md-inline">{% translate 'Mark as read' %}</span>
        {% endif %}
    </button>
    <button class="btn btn-outline-secondary text-start"
            type="submit"
            form="{{ article|update_article_form_id }}"
            formaction="{{ article|favorite_action_url }}">
        {% if article.is_favorite %}
            <span class="icon-indicator {{ article|article_action_indicator }}">
                {% include "core/partials/button_loading_indicator.html" %}
                {% include "core/partials/bs-icons/unmark_as_favorite.html" %}
            </span>
            <span class="d-none d-md-inline">{% translate 'Unmark as favorite' %}</span>
        {% else %}
            <span class="icon-indicator {{ article|article_action_indicator }} text-start">
                {% include "core/partials/button_loading_indicator.html" %}
                {% include "core/partials/bs-icons/mark_as_favorite.html" %}
            </span>
            <span class="d-none d-md-inline">{% translate 'Mark as favorite' %}</span>
        {% endif %}
    </button>
    <button class="btn btn-outline-secondary text-start"
            type="submit"
            form="{{ article|update_article_form_id }}"
            formaction="{{ article|for_later_action_url }}">
        {% if article.is_for_later %}
            <span class="icon-indicator {{ article|article_action_indicator }}">
                {% include "core/partials/button_loading_indicator.html" %}
                {% include "core/partials/bs-icons/mark_as_not_for_later.html" %}
            </span>
            <span class="d-none d-md-inline">{% translate 'Not for later' %}</span>
        {% else %}
            <span class="icon-indicator {{ article|article_action_indicator }}">
                {% include "core/partials/button_loading_indicator.html" %}
                {% include "core/partials/bs-icons/mark_as_for_later.html" %}
            </span>
            <span class="d-none d-md-inline">{% translate 'For later' %}</span>
        {% endif %}
    </button>
    {% if allow_refetch %}
        <form id="{{ article|refetch_article_form_id }}"
              class="visually-hidden"
              aria-hidden="true"
              method="post"
              action="{% url 'reading:refetch_article' %}"
              hx-boost="true"
              hx-push-url="false"
              hx-indicator=".{{ article|article_action_indicator }}">
            {% csrf_token %}
            <input type="hidden" name="url" value="{{ article.link }}" />
        </form>
        <button class="btn btn-outline-secondary text-start"
                form="{{ article|refetch_article_form_id }}">
            <span class="icon-indicator {{ article|article_action_indicator }}">
                {% include "core/partials/button_loading_indicator.html" %}
                {% include "core/partials/bs-icons/refetch.html" %}
            </span>
            {% translate 'Re-fetch content' %}
        </button>
    {% endif %}
    <a class="btn btn-outline-secondary text-start open-original"
       role="button"
       data-article-id="{{ article.id }}"
       target="_blank"
       href="{{ article.link }}">
        {% include "core/partials/bs-icons/open_original.html" %}
        <span class="d-none d-md-inline">{% translate 'Open original' %}</span>
    </a>
    {% if not for_article_details %}
        <a class="btn btn-primary text-start"
           role="button"
           href="{{ article|article_details_url }}?from_url={{ from_url|urlencode }}">
            {% include "core/partials/bs-icons/open_details.html" %}
            <span class="d-none d-md-inline">{% translate 'Open details' %}</span>
        </a>
    {% endif %}
    {% if for_article_details and from_url %}
        <a class="btn btn-outline-secondary text-start"
           role="button"
           href="{{ from_url }}">
            {% include "core/partials/bs-icons/back.html" %}
            {% translate 'Back' %}
        </a>
    {% endif %}
</div>
