{% load i18n %}

<p class="mb-0 text-secondary">
    {% if article.authors %}
        <span class="me-2">
            {% include "core/partials/bs-icons/author.html" %}
            {{ article.authors|join:", "|safe }}
        </span>
    {% endif %}
    {% if article.updated_at %}
        <span class="me-2">
            {% include "core/partials/bs-icons/updated_at.html" %}
            {{ article.updated_at|date:"SHORT_DATETIME_FORMAT" }}
        </span>
    {% elif article.published_at %}
        {% include "core/partials/bs-icons/published_at.html" %}
        {{ article.published_at|date:"SHORT_DATETIME_FORMAT" }}
    {% endif %}
    <span class="me-2">
        {% if article.main_source_type == 'FEED' and article.annot_feed_id %}
            {% if article.annot_feed_slug %}
                <a href="{% url 'feeds:feed_articles' feed_id=article.annot_feed_id feed_slug=article.annot_feed_slug %}">
                    {% include "core/partials/bs-icons/feed_source.html" %}
                {{ article.main_source_title|safe }}</a>
            {% else %}
                <a href="{% url 'feeds:feed_articles' feed_id=article.annot_feed_id %}">
                    {% include "core/partials/bs-icons/feed_source.html" %}
                {{ article.main_source_title|safe }}</a>
            {% endif %}
        {% else %}
            {% include "core/partials/bs-icons/article_source.html" %}
            {{ article.main_source_title|safe }}
        {% endif %}
    </span>
    {% if article.reading_time > 0 %}
        <span class="me-2">
            {% include "core/partials/bs-icons/reading_time.html" %}
            {% blocktranslate count reading_time=article.reading_time %}
                {{ reading_time }} minute
            {% plural %}
                {{ reading_time }} minutes
            {% endblocktranslate %}
        </span>
    {% endif %}
</p>
{% if article.tags_to_display or article.external_tags %}
    <p>
        {% for tag in article.tags_to_display %}
            <a class="link-underline link-underline-opacity-0 badge text-bg-primary me-1 text-wrap"
               href="{% url 'reading:tag_with_articles' tag_slug=tag.slug %}">{{ tag.title|safe }}</a>
        {% endfor %}
        {% for tag in article.external_tags %}
            <a class="link-underline link-underline-opacity-0 badge text-bg-secondary me-1 text-wrap"
               href="{% url 'reading:external_tag_with_articles' tag=tag|encode_external_tag %}">{{ tag|safe }}</a>
        {% endfor %}
    </p>
{% endif %}
