{% load util_tags %}

<nav class="sticky-top list-group">
    <ul>
        {% for reading_list in reading_lists %}
            <li class="p-0 list-group-item {% if displayed_reading_list_id == reading_list.id %}active{% endif %}">
                <a href="{{ reading_list|reading_list_url }}"
                   class="d-flex p-2 justify-content-between link-underline link-underline-opacity-0 text-reset">
                    <span>{{ reading_list.title }}</span>
                    {% if count_unread_articles_of_reading_lists|get_item:reading_list.slug > 0 %}
                        <span class="badge text-bg-info">{{ count_unread_articles_of_reading_lists|get_item:reading_list.slug }}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
