{% load crispy_forms_tags i18n %}

<details {% if name %}name="{{ name }}"{% endif %} class="mb-2 {{ size }} pe-0 px-0 mx-0" {% if update_articles_form.errors %}open{% endif %}>
    <summary class="p-2">{% translate "View search actions" %}</summary>
    <div class="p-2">
        <form method="post">
            {% csrf_token %}
            {{ update_articles_form|crispy }}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary">{% translate "Update articles" %}</button>
            </div>
        </form>
    </div>
</details>
