{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% translate "About" %}
{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p class="text-center my-4">
            <a role="button"
               class="btn btn-primary"
               href="{% url 'reading:default_reading_list' %}">{% translate "Go to the default reading list" %}</a>
        </p>
    {% endif %}
    <h1 class="display-1">{% translate "About legadilo" %}</h1>
    <p>
        {% blocktranslate %}
            Legadilo is a project to help you subscribe to RSS feeds, save articles and organize them easily with tags and full customizable reading lists!
        {% endblocktranslate %}
    </p>
    <h2 class="display-2">{% translate "Feeds" %}</h2>
    <p>
        {% blocktranslate %}
            You can subscribe to feeds, organize them in categories and tag all articles from these feeds to organize them.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}
            If you are currently using a feed reader, you can import your feeds in OPML.
            You can also export your legadilo feeds in the same format.
        {% endblocktranslate %}
    </p>
    <h2 class="display-2">{% translate "Reading" %}</h2>
    <p>
        {% blocktranslate %}
            Save any article and organize them in different reading list with tags.
            You can mark articles as favorite or for later (to remove them from the current reading list).
            Some reading list are created by default (all articles, unread, recent, favorite and for later).
            You can also edit and delete them and create your own.
            They will allow you to auto-refresh a list, read articles on scroll and filter articles by tag, status or reading time!
        {% endblocktranslate %}
    </p>
    <h2 class="display-2">{% translate "About the software" %}</h2>
    <p>
        {% blocktranslate %}
            It’s written with the <a href="https://www.djangoproject.com/">Django web framework</a>, <a href="https://getbootstrap.com/">the boostrap 5 frontend toolkit</a> and with enhancements given by <a href="https://htmx.org/">htmx</a>.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}
            It’s opensource under the <a href="https://www.gnu.org/licenses/agpl-3.0.html#license-text">GNU AGPLv3</a> license and is designed to be self-hostable, so you can run your own instance.
            The code source is available <a href="https://github.com/Jenselme/legadilo">on GitHub</a>.
            Your <a href="https://github.com/Jenselme/legadilo/issues/new">ideas</a>, <a href="https://github.com/Jenselme/legadilo/pulls">contributions</a> and <a href="https://github.com/Jenselme/legadilo/discussions">feedback</a> are welcomed! You can also check the <a href="https://www.legadilo.eu/">official instance</a> to start using it more easily (you will be able to export and import your data in any instance)!
        {% endblocktranslate %}
    </p>
{% endblock content %}
