{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% translate "About" %}
{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p class="text-center my-4">
            <a role="button"
               class="btn btn-primary"
               href="{% url 'reading:default_reading_list' %}">{% translate "Go to the default reading list" %}</a>
        </p>
    {% endif %}
    <h1 class="display-1">{% translate "About legadilo" %}</h1>
    <p>
        {% blocktranslate trimmed %}
            Legadilo is a project to help you subscribe to RSS feeds, save articles and organize them easily with tags and full customizable reading lists!
        {% endblocktranslate %}
    </p>
    <h2 class="display-2">{% translate "Feeds" %}</h2>
    <p>
        {% blocktranslate trimmed %}
            You can subscribe to feeds, organize them in categories and tag all articles from these feeds to organize them.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate trimmed %}
            If you are currently using a feed reader, you can import your feeds in OPML.
            You can also export your legadilo feeds in the same format.
        {% endblocktranslate %}
    </p>
    <h2 class="display-2">{% translate "Reading" %}</h2>
    <p>
        {% blocktranslate trimmed %}
            Save any article and organize them in different reading list with tags.
            You can mark articles as favorite or for later (to remove them from the current reading list).
            Some reading list are created by default (all articles, unread, recent, favorite and for later).
            You can also edit and delete them and create your own.
            They will allow you to auto-refresh a list, read articles on scroll and filter articles by tag, status or reading time!
        {% endblocktranslate %}
    </p>
    <h2 class="display-2">{% translate "About the software" %}</h2>
    <p>
        {% blocktranslate trimmed with django_url='<a href="https://www.djangoproject.com/">'|safe bootstrap_url='<a href="https://getbootstrap.com/">'|safe htmx_url='<a href="https://htmx.org/">'|safe end_link='</a>'|safe %}
            It’s written with the {{ django_url }}Django web framework{{ end_link }}, {{ bootstrap_url }}the bootstrap 5 frontend toolkit{{ end_link }} and with enhancements given by {{ htmx_url }}htmx{{ end_link }}.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate trimmed with agpl_url='<a href="https://www.gnu.org/licenses/agpl-3.0.html#license-text">'|safe github_url='<a href="https://github.com/Jenselme/legadilo">'|safe issues_url='<a href="https://github.com/Jenselme/legadilo/issues/new">'|safe pulls_url='<a href="https://github.com/Jenselme/legadilo/pulls">'|safe feedback_url='<a href="https://github.com/Jenselme/legadilo/discussions">'|safe official_instance_url='<a href="https://www.legadilo.eu/">'|safe end_link='</a>'|safe %}
            It’s opensource under the {{ agpl_url }}GNU AGPLv3{{ end_link }} license and is designed to be self-hostable, so you can run your own instance.
            The code source is available {{ github_url }}on GitHub{{ end_link }}.
            Your {{ issues_url }}ideas{{ end_link }}, {{ pulls_url }}contributions{{ end_link }} and {{ feedback_url }}feedback{{ end_link }} are welcomed! You can also check the {{ official_instance_url }}official instance{{ end_link }} to start using it more easily (you will be able to export and import your data in any instance)!
        {% endblocktranslate %}
    </p>
{% endblock content %}
