{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}
    {% if category %}
        {% blocktranslate trimmed with category_title=category.title %}
            Editing feed category '{{ category_title }}'
        {% endblocktranslate %}
    {% else %}
        {% translate "Create a feed category" %}
    {% endif %}
{% endblock title %}

{% block content %}
    <form id="delete-category-form"
          class="visually-hidden"
          aria-hidden="true"
          method="post"
          hx-boost="true"
          hx-push-url="true"
          hx-confirm="Delete?"
          data-modal-id="danger-modal"
          data-modal-title="{% translate 'Confirm category deletion' %}"
          data-modal-body="{% blocktranslate trimmed with category_title=category.title %}Are you sure you want to delete the category '{{ category_title }}'?{% endblocktranslate %}">
        {% csrf_token %}
        <input type="hidden" name="delete" value="true" />
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-between">
            <div>
                <button class="btn btn-primary" type="submit" name="save">{% translate "Save" %}</button>
                <button class="btn btn-outline-primary" type="submit" name="save-add-new">{% translate "Save and add new" %}</button>
                <button class="btn btn-outline-primary" type="submit" name="save-continue-edition">{% translate "Save and continue edition" %}</button>
            </div>

            <div>
                <button class="btn btn-outline-secondary" type="reset">{% translate "Reset" %}</button>
                {% if category %}
                    <button form="delete-category-form"
                        class="btn btn-danger"
                        type="submit"
                        name="delete">{% translate "Delete" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}
