{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Feeds admin" %}
{% endblock title %}

{% block content %}
    <h1>{% translate "Feeds admin" %}</h1>
    <a class="btn btn-outline-primary"
       href="{% url 'feeds:subscribe_to_feed' %}"
       role="button">{% translate "Subscribe to a feed" %}</a>
    <a class="btn btn-outline-secondary"
       href="{% url 'import_export:export_feeds' %}"
       role="button"
       download="{% translate 'feeds.opml' %}">{% translate "Export all feeds" %}</a>
    <a class="btn btn-outline-secondary"
       href="{% url 'import_export:import_feeds' %}"
       role="button">{% translate "Import feeds" %}</a>
    <form class="mt-2" method="get">
        <div class="input-group">
            <span id="feeds-search-glass" class="input-group-text">{% include "core/partials/bs-icon.html" with name="search" %}</span>
            <input type="text"
                   class="form-control"
                   name="q"
                   placeholder="{% translate 'Search for feeds here...' %}"
                   value="{{ searched_text }}"
                   aria-label="Search for feeds"
                   aria-describedby="feeds-search-glass" />
            <button class="btn btn-outline-secondary" type="submit">{% translate "Search" %}</button>
        </div>
    </form>
    <div class="mt-3">
        {% for category_title, feeds in feeds_by_categories.items %}
            <details name="feeds-category">
                <summary>
                    {% if category_title %}
                        {{ category_title }}
                    {% else %}
                        {% translate "Feeds without a category" %}
                    {% endif %}
                </summary>
                <ul class="list-group">
                    {% for feed in feeds %}
                        <li class="list-group-item container">
                            <div class="row {% if not feed.enabled %}opacity-50{% endif %}">
                                <div class="col">
                                    <a href="{{ feed.site_url }}">
                                        {% if feed.title %}
                                            {{ feed.title }}
                                        {% else %}
                                            {{ feed.site_url }}
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="{{ feed.feed_url }}">{% translate "Link to feed" %}</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'feeds:edit_feed' feed_id=feed.id %}">{% translate "Edit/Delete feed" %}</a>
                                </div>
                                <div class="col">
                                    {% if feed.slug %}
                                        <a href="{% url 'feeds:feed_articles' feed_id=feed.id feed_slug=feed.slug %}">{% translate "View articles" %}</a>
                                    {% else %}
                                        <a href="{% url 'feeds:feed_articles' feed_id=feed.id %}">{% translate "View articles" %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        {% endfor %}
    </div>
{% endblock content %}
