{% extends 'base.html' %}

{% load i18n util_tags %}

{% block title %}
    {% blocktrans with list_name=displayed_reading_list.name %}
        Articles from list '{{ list_name }}'
    {% endblocktrans %}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-2"></div>
            <div class="col col-8">
                <h1>{{ displayed_reading_list.name }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-2">
                <ul class="list-group">
                    {% for reading_list in reading_lists %}
                        <li class="p-0 list-group-item {% if displayed_reading_list.id == reading_list.id %}active{% endif %}">
                            <a href="{% url 'feeds:reading_list' reading_list_slug=reading_list.slug %}"
                               class="d-flex p-2 justify-content-between link-underline link-underline-opacity-0 text-reset">
                                <span>{{ reading_list.name }}</span>
                                <span class="badge text-bg-info">{{ count_articles_of_reading_lists|get_item:reading_list.slug }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-8">
                {% for article in articles_page %}
                    <div class="card mb-2 {% if article.is_read %}opacity-50{% endif %}">
                        <div class="card-body">
                            <h2 class="card-title">{{ article.title }}</h2>
                            <div class="card-subtitle">
                                <p class="mb-0">
                                    {{ article.authors | join:", " }} – {{ article.published_at|date:"SHORT_DATETIME_FORMAT" }}
                                    {% if article.feed %}– {{ article.feed.title }}{% endif %}
                                </p>
                                {% if article.tags_to_display %}
                                    <p>
                                        {% for tag in article.tags_to_display %}<span class="badge text-bg-primary me-1">{{ tag.name }}</span>{% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                            <p class="card-text">{{ article.summary | safe }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>{% translate "This reading list is empty." %}</p>
                {% endfor %}
                {% if articles_paginator.num_pages > 1 %}
                    <nav aria-label="{% translate 'Navigation between articles' %}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link {% if not articles_page.has_previous %}disabled{% endif %}"
                                   {% if articles_page.has_previous %}href="?page={{ articles_page.previous_page_number }}"{% endif %}>
                                    {% translate "Previous" %}
                                </a>
                            </li>
                            {% for page_number in articles_paginator.page_range %}
                                <li class="page-item">
                                    <a class="page-link {% if articles_page.number == page_number %}active{% endif %}"
                                       href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item">
                                <a class="page-link {% if not articles_page.has_next %}disabled{% endif %}"
                                   {% if articles_page.has_next %}href="?page={{ articles_page.next_page_number }}"{% endif %}>
                                    {% translate "Next" %}
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
