{% extends 'base.html' %}

{% load i18n static %}

{% block title %}
    {% blocktrans with tag_name=displayed_tag.name %}
        Articles with tag '{{ tag_name }}'
    {% endblocktrans %}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-2"></div>
            <div class="col col-8">
                <h1>
                    {% blocktrans with tag_name=displayed_tag.name articles_count=articles_paginator.count %}{{ articles_count }} articles with tag '{{ tag_name }}'{% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid scrollable-container">
        <div class="row scrollable">
            <div id="reading-list-group" class="col col-2">{% include 'feeds/partials/reading_list_group.html' %}</div>
            <div class="col col-8">
                {% for article in articles_page %}
                    {% include 'feeds/partials/article_card.html' %}
                {% empty %}
                    <p>{% translate "This reading list is empty." %}</p>
                {% endfor %}
                {% include 'feeds/partials/articles_list_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
