.article-content {
  max-width: 900px;
}

.article-aside {
  max-width: 300px;
}

#article-side-actions {
  max-width: 276px;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding: 0 1em;
  color: var(--bs-secondary-color);
  border-left: 0.25em solid var(--bs-border-color);
}

figcaption {
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: var(--bs-secondary-color);
  padding: 0 1.25em;
}

pre {
  border: var(--bs-light-border-subtle) solid var(--bs-border-width);
  border-radius: var(--bs-border-radius);
  padding: 0.5em;
  background-color: var(--bs-tertiary-bg);
  max-width: calc(100vw - 24px);
}

table {
  margin: auto;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: var(--bs-border-width);
}

th,
td {
  padding: 0.25em;
}

@media print {
  a.badge {
    background: none !important;
    color: black !important;
    border: solid 1px black !important;
  }

  .accordion,
  .header-container,
  .btn-group,
  aside,
  aside.article-aside,
  nav,
  footer,
  footer.content-footer {
    display: none !important;
  }

  img,
  figure {
    page-break-inside: auto;
    clear: both;
    float: none;
  }
}
