.scrollable-container {
  height: calc(100vh - 116px);
}

.scrollable {
  max-height: 100%;
  overflow: auto;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.btn-primary img.bi,
.btn-danger img.bi {
  filter: invert(1);
}

.htmx-indicator,
.icon-indicator .indicator {
  display: none;
  opacity: 0;
}

.htmx-request.htmx-indicator,
.htmx-request .icon-indicator .indicator {
  display: inline;
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.htmx-request.icon-indicator .bi {
  display: none;
}

.htmx-request.htmx-indicator,
.htmx-request.icon-indicator .indicator {
  display: inline;
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.infinite-scrolling-icon-indicator {
  height: 60px;
  text-align: center;
}

.infinite-scrolling-icon-indicator img {
  max-height: 100%;
}

.read-on-scroll-even-bottom {
  height: 100vh;
}

.card.htmx-swapping {
  opacity: 0;
  max-height: 0;
  transition:
    opacity 1s ease-out,
    max-height 1s ease-out;
}

@media (width >= 768px) {
  .card {
    max-height: 500px;
  }

  .card main {
    max-height: 200px;
    overflow-y: hidden;
  }

  .card main img {
    max-height: 200px;
  }
}
