/*
 * SPDX-FileCopyrightText: 2025 Legadilo contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

[draggable="true"] {
  cursor: grab;
}

.dragged {
  opacity: 0.5;
}

.drag-updated {
  background-color: var(--bs-warning-bg-subtle);
}

.dragged-over {
  background-color: var(--bs-primary-bg-subtle) !important;
}
