{% load i18n %}

<!-- Taken and slightly adapted from the bootstrap website -->
<li class="nav-item">
    <button id="bd-theme"
            class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            data-bs-display="static"
            aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active">
            <use href="#circle-half"></use>
        </svg>
        <span id="bd-theme-text" class="d-lg-none ms-2">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end"
        aria-labelledby="bd-theme-text">
        <li>
            <button class="dropdown-item d-flex align-items-center"
                    type="button"
                    data-bs-theme-value="light"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50">
                    <use href="#sun-fill"></use>
                </svg>
                {% translate "Light" %}
                <svg class="bi ms-auto d-none">
                    <use href="#check2"></use>
                </svg>
            </button>
            <button class="dropdown-item d-flex align-items-center"
                    type="button"
                    data-bs-theme-value="dark"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50">
                    <use href="#moon-stars-fill"></use>
                </svg>
                {% translate "Dark" %}
                <svg class="bi ms-auto d-none">
                    <use href="#check2"></use>
                </svg>
            </button>
            <button class="dropdown-item d-flex align-items-center"
                    type="button"
                    data-bs-theme-value="auto"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50" viewBox="0 0 16 16">
                    <use href="#circle-half"></use>
                </svg>
                {% translate "Auto" %}
                <svg class="bi ms-auto d-none">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
    </ul>
</li>
