{% extends "debug_toolbar/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet"
          href="{% static 'debug_toolbar/css/print.css' %}"
          media="print"
          nonce="{{ toolbar.request.csp_nonce }}" />
    <link rel="stylesheet"
          href="{% static 'debug_toolbar/css/toolbar.css' %}"
          nonce="{{ toolbar.request.csp_nonce }}" />
{% endblock css %}
{% block js %}
    <script nonce="{{ toolbar.request.csp_nonce }}"
            type="module"
            src="{% static 'debug_toolbar/js/toolbar.js' %}"
            async></script>
    <script nonce="{{ toolbar.request.csp_nonce }}"
            src="{% static 'debug_toolbar/js/timer.js' %}"
            type="module"
            async></script>
{% endblock js %}
