{% extends "base.html" %}

{% load crispy_forms_tags i18n static %}

{% block page_js %}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{ csp_nonce }}"
            type="module"></script>
{% endblock page_js %}

{% block title %}
    {% translate "Articles groups" %}
{% endblock title %}

{% block content %}
    <h1>{% translate "Articles groups" %}</h1>

    <div id="articles-groups-search-accordion" class="accordion mb-3">
        <div class="accordion-item">
            <div class="accordion-header">
                <button
                    class="accordion-button {% if not form.is_filled %}collapsed{% endif %} p-2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#articles-groups-search-form-container"
                    aria-expanded="{% if form.is_filled %}true{% else %}false{% endif %}"
                    aria-controls="articles-groups-search-form-container">
                    {% translate "Filter groups" %}
                </button>
            </div>
            <div id="articles-groups-search-form-container"
                 class="accordion-collapse collapse {% if form.is_filled %}show{% endif %}"
                 data-bs-parent="#articles-groups-search-accordion">
                <div class="accordion-body p-2 px-3">
                    <form class="mt-2 mb-3" method="get">
                        {{ form|crispy }}
                        <button class="btn btn-outline-secondary"
                                type="submit">{% translate "Search" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for group in groups_page %}
        <div class="card mb-2 {% if not group.annot_has_unread_articles %}opacity-50{% endif %}">
            <div class="card-body">
                <header>
                    <h2 class="card-title">
                        <a href="{{ group|articles_group_details_url }}">{{ group.title }}</a>
                    </h2>
                    {% include "reading/partials/articles_groups_metadata.html" %}
                </header>
                <main class="card-text">
                    <p>{{ group.description }}</p>
                    <ul class="list-group list-group-flush">
                        {% for article in group.sorted_articles %}
                            <li class="list-group-item {% if article.is_read %}opacity-50{% endif %}">
                                <a href="{{ article|article_details_url }}">{{ article.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </main>
            </div>
            <footer class="card-footer d-flex justify-content-end">
                <a class="card-link"
                   href="{{ group|articles_group_details_url }}">
                    {% translate "View group details" %}
                </a>
            </footer>
        </div>
    {% endfor %}

    {% if groups_paginator.num_pages > 1 %}
        {% translate 'Navigation between articles groups' as pagination_aria_label %}
        {% include "core/partials/pagination.html" with arial_label=pagination_aria_label objects_page=groups_page elided_page_range=elided_page_range %}
    {% endif %}
{% endblock content %}
