{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {{ group.title }}
{% endblock title %}

{% block content %}
    <h1>{{ group.title }}</h1>

    {% include "reading/partials/articles_groups_metadata.html" %}

    <form id="mark-all-articles-as-read" class="visually-hidden" aria-hidden="true" method="post">
        {% csrf_token %}
    </form>
    <form
        id="delete-group"
        class="visually-hidden"
        aria-hidden="true"
        method="post"
        data-modal-id="danger-modal"
        data-modal-title="{% translate 'Confirm group deletion' %}"
        data-modal-body="{% blocktranslate trimmed with group_title=group.title %}Are you sure you want to delete the group '{{ group_title }}'?{% endblocktranslate %}"
        hx-indicator=".icon-indicator"
        hx-boost="true"
        hx-push-url="true"
        hx-confirm="Delete?">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete_group"/>
    </form>
    <form
        id="delete-group-and-all-articles"
        class="visually-hidden"
        aria-hidden="true"
        method="post"
        data-modal-id="danger-modal"
        data-modal-title="{% translate 'Confirm deletion of group and all its articles' %}"
        data-modal-body="{% blocktranslate trimmed with group_title=group.title articles_count=group.annot_nb_articles_in_group %}Are you sure you want to delete the group '{{ group_title }}' and its {{ articles_count }} articles?{% endblocktranslate %}"
        hx-indicator=".icon-indicator"
        hx-boost="true"
        hx-push-url="true"
        hx-confirm="Delete?">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete_group_and_all_articles"/>
    </form>
    <div class="d-flex justify-content-between mb-4">
        <div class="btn-group">
            <a class="btn btn-outline-primary" role="button"
               href="{% url 'reading:article_groups_read_all_articles' group_id=group.id group_slug=group.slug %}">
                {% translate "Read all articles on one page" %}
            </a>
            <button type="submit" class="btn btn-outline-secondary" name="mark_all_as_read"
                    form="mark-all-articles-as-read">
                {% translate "Mark all articles as read" %}
            </button>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-outline-danger"
                    form="delete-group-and-all-articles">
                <span class="icon-indicator">
                    {% include "core/partials/button_loading_indicator.html" %}
                    {% include "core/partials/bs-icons/delete.html" %}
                </span>
                {% translate "Delete group and all its articles" %}
            </button>
            <button class="btn btn-danger"
                    form="delete-group">
                <span class="icon-indicator">
                    {% include "core/partials/button_loading_indicator.html" %}
                    {% include "core/partials/bs-icons/delete.html" %}
                </span>
                {% translate "Delete group" %}
            </button>
        </div>
    </div>

    <div>
        {% for article in group.sorted_articles %}
            <div class="card mb-2 {% if article.is_read %}opacity-50{% endif %}">
                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    {% include "reading/partials/article_metadata.html" %}
                    <p class="card-text">{{ article.summary }}</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a class="card-link"
                       href="
                           {{ article|article_details_url }}{% querystring from_url=group|articles_group_details_url %}">
                        {% translate "View article details" %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
