{% extends 'base.html' %}

{% load crispy_forms_tags i18n static %}

{% block page_js %}
    <script src="{% static 'js/article_details.js' %}"
            nonce="{{ csp_nonce }}"
            defer></script>
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{ csp_nonce }}"
            type="module"></script>
    {{ tags_hierarchy|json_script:"tags-hierarchy" }}
{% endblock page_js %}

{% block page_css %}
    <link rel="stylesheet"
          href="{% static 'css/article_details.css' %}"
          nonce="{{ csp_nonce }}"/>
{% endblock page_css %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block content %}
    {% if not article.was_opened %}
        <form class="visually-hidden"
              aria-hidden="true"
              hx-trigger="load"
              hx-post="{{ article|opened_action_url }}"
              hx-swap="none">
            {% csrf_token %}
        </form>
    {% endif %}
    <div class="container-fluid px-0">
        <div class="mt-1 mt-md-2 row px-0 mx-0 justify-content-center">
            <aside class="col col-2 d-none d-md-block article-aside">
                <div id="article-side-actions">
                    {% partialdef article-side-actions inline %}
                        <div>{% include "reading/partials/article_actions.html" with for_article_details=True vertical_group=True %}</div>
                        <div class="mt-5">
                            {% include "reading/partials/article_danger_actions.html" with for_article_details=True vertical_group=True %}
                        </div>
                    {% endpartialdef %}
                </div>
            </aside>
            <article {% if article.language %}lang="{{ article.language }}"{% endif %}
                     class="col col-12 col-md-7 article-container">
                <header>
                    <h1 id="legadilo-article-title">{{ article.title }}</h1>
                    <div
                        class="text-secondary">{% include 'reading/partials/article_metadata.html' %}</div>
                </header>
                <div id="article-edit-accordion" class="accordion">
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button
                                class="accordion-button {% if not edit_article_form.errors %}collapsed{% endif %} p-2"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#article-edit"
                                aria-expanded="{% if edit_article_form.errors %}true{% else %}false{% endif %}"
                                aria-controls="article-edit">{% translate "Update article" %}</button>
                        </div>
                        <div id="article-edit"
                             class="accordion-collapse collapse {% if edit_article_form.errors %}show{% endif %}"
                             data-bs-parent="#article-edit-accordion">
                            <div class="accordion-body p-2 px-3">
                                <div class="row">
                                    <form class="align-items-center p-0 p-md-0 col-md-9 col-12"
                                          method="post"
                                          hx-indicator=".{{ article|article_action_indicator }}"
                                          hx-boost="true"
                                          hx-push-url="false">
                                        {% csrf_token %}
                                        {{ edit_article_form|crispy }}
                                        <button class="btn btn-outline-primary w-100 mt-1"
                                                type="submit">
                                            <span
                                                class="icon-indicator {{ article|article_action_indicator }}">
                                                {% include "core/partials/button_loading_indicator.html" %}
                                            </span>
                                            {% translate "Update article" %}
                                        </button>
                                    </form>
                                    <form
                                        class="col-12 col-md-3 p-0 mt-1 d-flex px-md-1 align-items-end"
                                        aria-hidden="true"
                                        method="post"
                                        action="{% url 'reading:refetch_article' %}"
                                        hx-boost="true"
                                        hx-push-url="true"
                                        hx-indicator=".{{ article|article_action_indicator }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="url" value="{{ article.url }}"/>
                                        <button
                                            class="btn btn-outline-secondary text-start col-12 text-center">
                                            <span
                                                class="icon-indicator {{ article|article_action_indicator }}">
                                                {% include "core/partials/button_loading_indicator.html" %}
                                                {% include "core/partials/bs-icons/refetch.html" %}
                                            </span>
                                            {% translate 'Re-fetch content' %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed p-2"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#article-comment"
                                    aria-expanded="false"
                                    aria-controls="article-comment">{% translate "Comments" %}</button>
                        </div>
                        <div id="article-comment"
                             class="accordion-collapse collapse"
                             data-bs-parent="#article-edit-accordion">
                            <div class="accordion-body p-2 px-3">
                                {% include "reading/partials/comment.html#add-comment-form" with article_id=article.id %}
                                <div id="all-comments" class="mt-3">
                                    {% for comment in article.comments.all %}
                                        {% include "reading/partials/comment.html#comment-card" with comment=comment %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="article-mobile-actions"
                     class="d-flex d-md-none justify-content-center mt-2 mb-4">
                    {% partialdef article-mobile-actions inline %}
                        {% include 'reading/partials/article_actions.html' with for_article_details=True %}
                    {% endpartialdef %}
                </div>
                {% partialdef article-group-navigation inline %}
                    {% if article.group %}
                        <div class="d-flex justify-content-between mt-1">
                            <div>
                                {% if article.previous_article_of_group %}
                                    <a href="{{ article.previous_article_of_group|article_details_url }}{% querystring %}">
                                        {% translate "Previous article of group" %}
                                    </a>
                                {% endif %}
                            </div>
                            <div>
                                {% if article.next_article_of_group %}
                                    <button class="btn btn-outline-primary"
                                            name="read_and_go_to_next"
                                            type="submit"
                                            form="{{ article|update_article_form_id }}"
                                            formaction="{{ article|read_action_url }}">
                                        {% translate "Read and go to next" %}
                                    </button>
                                {% endif %}
                            </div>
                            <div>
                                {% if article.next_article_of_group %}
                                    <a href="{{ article.next_article_of_group|article_details_url }}{% querystring %}">
                                        {% translate "Next article of group" %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endpartialdef %}
                {% include "reading/partials/article_content.html" %}
                <footer>
                    {% partial article-group-navigation %}
                    <div id="article-bottom-actions"
                         class="d-flex justify-content-center mt-2 mb-4">
                        {% partialdef article-bottom-actions inline %}
                            {% include 'reading/partials/article_actions.html' with for_article_details=True %}
                        {% endpartialdef %}
                    </div>
                </footer>
            </article>
            <aside class="col col-2 d-none d-md-block article-aside">
                <div id="article-side-toc">
                    {% partialdef article-side-toc inline %}
                        <nav id="article-toc" class="article-toc mt-3 mb-0 fs-6 fw-normal">
                            {% include "reading/partials/article_toc.html" with article_title_anchor="#legadilo-article-title" %}
                        </nav>
                        <div class="text-center mt-2">
                            <a href="#legadilo-article-title">
                                {% include "core/partials/bs-icons/back_to_top.html" %}
                                {% translate "Back to top" %}
                            </a>
                        </div>
                    {% endpartialdef %}
                </div>
            </aside>
        </div>
    </div>
{% endblock content %}
