{% extends "base.html" %}

{% load i18n static crispy_forms_tags %}

{% block page_js %}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{request.csp_nonce}}"
            type="module"></script>
{% endblock page_js %}
{% block title %}
    {% if reading_list %}
        {% blocktranslate with reading_list_title=reading_list.title %}
            Editing reading list '{{ reading_list_title }}'
        {% endblocktranslate %}
    {% else %}
        {% translate "Create a new reading list" %}
    {% endif %}
{% endblock title %}
{% block content %}
    <h1>
        {% if reading_list %}
            {% blocktranslate with reading_list_title=reading_list.title %}
                Editing reading list '{{ reading_list_title }}'
            {% endblocktranslate %}
        {% else %}
            {% translate "Create a new reading list" %}
        {% endif %}
    </h1>
    <form id="delete-reading-list-form"
          method="post"
          hx-boost="true"
          hx-push-url="true"
          hx-confirm="Delete?">
        {% csrf_token %}
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if reading_list %}
            <button form="delete-reading-list-form"
                    data-modal-id="danger-modal"
                    data-modal-title="{% translate 'Confirm reading list deletion' %}"
                    data-modal-body="{% blocktranslate with reading_list_title=reading_list.title %}Are you sure you want to delete the reading list '{{ reading_list_title }}'?{% endblocktranslate %}"
                    class="btn btn-danger"
                    type="submit"
                    name="delete">{% translate "Delete" %}</button>
            {% if not reading_list.is_default %}
                <button class="btn btn-outline-secondary" type="submit" name="make-default">{% translate "Make default" %}</button>
            {% endif %}
            <button class="btn btn-primary" type="submit">{% translate "Update" %}</button>
        {% else %}
            <button class="btn btn-primary" type="submit">{% translate "Create" %}</button>
        {% endif %}
    </form>
    <div class="mb-4"></div>
{% endblock content %}
