{% extends "base.html" %}

{% load crispy_forms_tags i18n static %}

{% block page_js %}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{ csp_nonce }}"
            type="module"></script>
{% endblock page_js %}

{% block title %}
    {% if reading_list %}
        {% blocktranslate trimmed with reading_list_title=reading_list.title %}
            Editing reading list '{{ reading_list_title }}'
        {% endblocktranslate %}
    {% else %}
        {% translate "Create a new reading list" %}
    {% endif %}
{% endblock title %}

{% block content %}
    <h1>
        {% if reading_list %}
            {% blocktranslate trimmed with reading_list_title=reading_list.title %}
                Editing reading list '{{ reading_list_title }}'
            {% endblocktranslate %}
        {% else %}
            {% translate "Create a new reading list" %}
        {% endif %}
    </h1>
    <form id="delete-reading-list-form"
          class="visually-hidden"
          aria-hidden="true"
          method="post"
          hx-boost="true"
          hx-push-url="true"
          hx-confirm="Delete?"
          data-modal-id="danger-modal"
          data-modal-title="{% translate 'Confirm reading list deletion' %}"
          data-modal-body="{% blocktranslate trimmed with reading_list_title=reading_list.title %}Are you sure you want to delete the reading list '{{ reading_list_title }}'?{% endblocktranslate %}">
        {% csrf_token %}
        <input type="hidden" name="delete" value="true" />
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-between">
            <div>
                <button class="btn btn-primary" type="submit" name="save">{% translate "Save" %}</button>
                <button class="btn btn-outline-primary" type="submit" name="save-add-new">{% translate "Save and add new" %}</button>
                <button class="btn btn-outline-primary" type="submit" name="save-continue-edition">{% translate "Save and continue edition" %}</button>
                {% if reading_list and not reading_list.is_default %}
                    <button class="btn btn-outline-secondary" type="submit" name="make-default">{% translate "Make default" %}</button>
                {% endif %}
            </div>

            <div>
                {% if reading_list and not reading_list.is_default %}
                    <button form="delete-reading-list-form"
                                class="btn btn-danger"
                                type="submit"
                                name="delete">{% translate "Delete" %}</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}
