{% extends "base.html" %}

{% load i18n static humanize crispy_forms_tags %}

{% block title %}
    {{ page_title }}
{% endblock title %}
{% block page_js %}
    <script src="{% static 'js/list_of_articles.js' %}"
            nonce="{{request.csp_nonce}}"
            defer></script>
    {{ js_cfg|json_script:"js-cfg" }}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{request.csp_nonce}}"
            type="module"></script>
{% endblock page_js %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-2 d-none d-md-block"></div>
            <div class="col col-6 col-md-8">
                <h1>{{ page_title }}</h1>
            </div>
            <div class="col col-6 d-md-none dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{% translate "Reading lists" %}</button>
                <div id="reading-list-dropdown-menu" class="p-0 dropdown-menu">
                    {% include "reading/partials/reading_list_dropdown_menu.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid scrollable-container">
        <div id="scrollable-article-list" class="row scrollable">
            <div id="reading-list-group" class="col col-2 d-none d-md-block">
                {% include 'reading/partials/reading_list_group.html' with displayed_reading_list_id=displayed_reading_list_id %}
            </div>
            <div class="col col-12 col-md-8 px-1 px-md-2">
                <div class="row">
                    {% if count_articles_of_current_reading_list > 0 %}
                        <h2 class="fs-6 col-md-4 align-middle d-flex align-items-center">
                            {% blocktranslate with formatted_nb_articles=count_articles_of_current_reading_list|intcomma count count_articles_of_current_reading_list=count_articles_of_current_reading_list %}
                                {{ formatted_nb_articles }} article in total
                            {% plural %}
                                {{ formatted_nb_articles }} articles in total
                            {% endblocktranslate %}
                        </h2>
                    {% endif %}
                    {% if update_articles_form %}
                        <div class="accordion mb-2 col-md-8" id="search-actions">
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <button class="accordion-button {% if not update_articles_form.errors %}collapsed{% endif %}"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#search-actions-form"
                                            aria-expanded="{% if update_articles_form.errors %}true{% else %}false{% endif %}"
                                            aria-controls="search-actions-form">
                                        {% translate "View search actions" %}
                                    </button>
                                </div>
                                <div id="search-actions-form"
                                     class="accordion-collapse collapse {% if update_articles_form.errors %}show{% endif %}"
                                     data-bs-parent="#search-actions">
                                    <div class="accordion-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ update_articles_form|crispy }}
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-outline-primary">{% translate "Update articles" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% include "reading/partials/article_paginator_page.html" %}
                <noscript>
                    {% include 'reading/partials/articles_list_pagination.html' %}
                </noscript>
            </div>
        </div>
    </div>
{% endblock content %}
