{% extends "base.html" %}

{% load i18n static %}

{% block title %}
    {{ page_title }}
{% endblock title %}
{% block page_js %}
    <script src="{% static 'js/list_of_articles.js' %}" defer></script>
    {{ js_cfg|json_script:"js-cfg" }}
{% endblock page_js %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-2 d-none d-md-block"></div>
            <div class="col col-6 col-md-8">
                <h1>{{ page_title }}</h1>
            </div>
            <div class="col col-6 d-md-none dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{% translate "Reading lists" %}</button>
                <div id="reading-list-dropdown-menu" class="p-0 dropdown-menu">
                    {% include "reading/partials/reading_list_dropdown_menu.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid scrollable-container">
        <div id="scrollable-article-list" class="row scrollable">
            <div id="reading-list-group" class="col col-2 d-none d-md-block">
                {% include 'reading/partials/reading_list_group.html' with displayed_reading_list_id=displayed_reading_list_id %}
            </div>
            <div class="col col-12 col-md-8 px-1 px-md-2">
                {% include "reading/partials/article_paginator_page.html" %}
                <noscript>
                    {% include 'reading/partials/articles_list_pagination.html' %}
                </noscript>
            </div>
        </div>
    </div>
{% endblock content %}
