{% extends "base.html" %}

{% load i18n static humanize crispy_forms_tags partials %}

{% block title %}
    {{ page_title }}
{% endblock title %}
{% block page_js %}
    <script src="{% static 'js/list_of_articles.js' %}"
            nonce="{{request.csp_nonce}}"
            defer></script>
    {{ js_cfg|json_script:"js-cfg" }}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{request.csp_nonce}}"
            type="module"></script>
{% endblock page_js %}
{% partialdef reading-list-group %}
    <ul class="list-group">
        {% for reading_list in reading_lists %}
            <li class="p-0 list-group-item {% if displayed_reading_list.id == reading_list.id %}active{% endif %}">
                <a href="{{ reading_list|reading_list_url }}"
                   class="d-flex p-2 justify-content-between link-underline link-underline-opacity-0 text-reset">
                    <span>{{ reading_list.title }}</span>
                    {% if count_unread_articles_of_reading_lists|get_item:reading_list.slug > 0 %}
                        <span>
                            <span class="badge text-bg-info">{{ count_unread_articles_of_reading_lists|get_item:reading_list.slug }}</span>
                        </span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endpartialdef %}
{% block center_navbar %}
    <div id="reading-list-dropdown-menu"
         class="col col-5 d-md-none dropdown d-flex justify-content-center">
        {% partialdef reading-list-dropdown-menu inline=True %}
            <button class="btn btn-secondary dropdown-toggle mw-100 d-flex align-items-center"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                {% if displayed_reading_list %}
                    <span class="text-truncate d-inline-block">{{ displayed_reading_list.title }}</span>
                    {% if count_unread_articles_of_reading_lists|get_item:displayed_reading_list.slug > 0 %}
                        <span class="badge text-bg-info mx-1">{{ count_unread_articles_of_reading_lists|get_item:displayed_reading_list.slug }}</span>
                    {% endif %}
                {% else %}
                    {% translate "Reading lists" %}
                {% endif %}
            </button>
            <div class="p-0 dropdown-menu">{% partial reading-list-group %}</div>
        {% endpartialdef %}
    </div>
{% endblock center_navbar %}
{% block content %}
    <div class="container-fluid px-md-3">
        <div class="row">
            <div class="col col-3 d-none d-md-block"></div>
            <div class="col col-7 col-md-8 px-1 px-md-3">
                <h1>{{ page_title }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row scrollable px-0 mx-0">
            <div class="col col-md-1"></div>
            <div class="col col-2 d-none d-md-block">
                <nav id="reading-list-group">
                    {% partial reading-list-group %}
                </nav>
            </div>
            <div class="col col-12 col-md-8 px-1 px-md-3 mx-0">
                <div class="row px-0 mx-0">
                    {% if count_articles_of_current_reading_list > 0 %}
                        <h2 class="fs-6 col-md-4 align-middle d-flex align-items-center px-0 mx-0">
                            <span id="articles-in-total">
                                {% partialdef articles-in-total inline=True %}
                                    {% blocktranslate with formatted_nb_articles=count_articles_of_current_reading_list|intcomma count count_articles_of_current_reading_list=count_articles_of_current_reading_list %}
                                        {{ formatted_nb_articles }} article in total
                                    {% plural %}
                                        {{ formatted_nb_articles }} articles in total
                                    {% endblocktranslate %}
                                {% endpartialdef %}
                            </span>
                            {% if js_cfg.is_reading_on_scroll_enabled %}
                                &nbsp;
                                <button type="button"
                                        class="btn btn-info p-0"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#reading-list-parameters"
                                        aria-expanded="false"
                                        aria-controls="reading-list-parameters">
                                    {% include "core/partials/bs-icons/parameters.html" %}
                                </button>
                                <div class="collapse" id="reading-list-parameters">
                                    <div class="card card-body p-0">
                                        <div class="form-check">
                                            <label for="read-on-scroll-enabled" class="form-check-label">Read on scroll enabled</label>
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="read-on-scroll-enabled"
                                                   checked />
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </h2>
                    {% endif %}
                    {% if update_articles_form %}
                        {% include "reading/partials/update_searched_articles.html" with update_articles_form=update_articles_form size="col-md-8" %}
                    {% endif %}
                </div>
                {% partialdef articles-page inline=True %}
                    {% for article in articles_page %}
                        <div id="{{ article|article_card_id }}" class="article-card-container">
                            {% include 'reading/partials/article_card.html' %}
                        </div>
                        {% if forloop.last and js_cfg.is_reading_on_scroll_enabled %}
                            <p class="read-on-scroll-even-bottom" aria-hidden="true">
                                {% if next_page_number %}
                                    {% translate "You have too many articles to read on scroll. Please refresh the page to view the others." %}
                                {% endif %}
                            </p>
                        {% endif %}
                    {% empty %}
                        <p>{% translate "No articles to display." %}</p>
                    {% endfor %}
                {% endpartialdef %}
                {% if articles_paginator.num_pages > 1 %}
                    <nav aria-label="{% translate 'Navigation between articles' %}">
                        <ul class="pagination d-flex justify-content-center flex-wrap">
                            <li class="page-item">
                                <a class="page-link {% if not articles_page.has_previous %}disabled{% endif %}"
                                   {% if articles_page.has_previous %}href="?page={{ articles_page.previous_page_number }}"{% endif %}>
                                    {% translate "Previous" %}
                                </a>
                            </li>
                            {% for page_number in elided_page_range %}
                                <li class="page-item">
                                    <a class="page-link {% if articles_page.number == page_number %}active{% endif %}{% if page_number == '…' %}disabled{% endif %}"
                                       href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item">
                                <a class="page-link {% if not articles_page.has_next %}disabled{% endif %}"
                                   {% if articles_page.has_next %}href="?page={{ articles_page.next_page_number }}"{% endif %}>
                                    {% translate "Next" %}
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
