{% load static i18n feeds %}

{% if for_article_details %}
    <form id="update-article-actions-form-{{ article.id }}"
          class="visually-hidden"
          aria-hidden="true"
          method="post"
          hx-indicator=".icon-indicator-{{ article.id }}"
          hx-boost="true"
          hx-push-url="false">
        {% csrf_token %}
        <input type="hidden" name="for_article_details" value="true" />
        <input type="hidden" name="from_url" value="{{ from_url }}" />
    </form>
{% else %}
    <form id="update-article-actions-form-{{ article.id }}"
          class="visually-hidden"
          aria-hidden="true"
          method="post"
          hx-indicator=".icon-indicator-{{ article.id }}"
          hx-boost="true"
          hx-swap="outerHTML show:none"
          hx-target="#article-card-{{ article.id }}"
          hx-push-url="false">
        {% csrf_token %}
        <input type="hidden"
               name="displayed_reading_list_id"
               value="{{ displayed_reading_list_id }}" />
        <input type="hidden" name="from_url" value="{{ from_url }}" />
    </form>
{% endif %}
{% if not article.was_opened and not article.content and not for_article_details %}
    <form id="mark-article-as-opened-form-{{ article.id }}"
          class="visually-hidden"
          aria-hidden="true"
          method="post"
          action="{{ article|opened_action_url }}"
          hx-trigger="submit"
          hx-boost="true"
          hx-swap="outerHTML show:none"
          hx-target="#article-card-{{ article.id }}"
          hx-push-url="false">
        {% csrf_token %}
        <input type="hidden"
               name="displayed_reading_list_id"
               value="{{ displayed_reading_list_id }}" />
        <input type="hidden" name="from_url" value="{{ from_url }}" />
    </form>
{% endif %}
<div class="{% if vertical_group %}btn-group-vertical{% else %}btn-group{% endif %}"
     role="group">
    <button class="btn {% if for_article_details %}btn-primary{% else %}btn-outline-secondary{% endif %} text-start"
            type="submit"
            form="update-article-actions-form-{{ article.id }}"
            formaction="{{ article|read_action_url }}">
        {% if article.is_read %}
            <span class="icon-indicator icon-indicator-{{ article.id }}">
                {% include "core/partials/button_loading_indicator_icon.html" %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-book-fill"
                     viewBox="0 0 16 16">
                    <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                </svg>
            </span>
            {% translate 'Mark as unread' %}
        {% else %}
            <span class="icon-indicator icon-indicator-{{ article.id }}">
                {% include "core/partials/button_loading_indicator_icon.html" %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-book"
                     viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                </svg>
            </span>
            {% translate 'Mark as read' %}
        {% endif %}
    </button>
    <button class="btn btn-outline-secondary text-start"
            type="submit"
            form="update-article-actions-form-{{ article.id }}"
            formaction="{{ article|favorite_action_url }}">
        {% if article.is_favorite %}
            <span class="icon-indicator icon-indicator-{{ article.id }}">
                {% include "core/partials/button_loading_indicator_icon.html" %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-star-fill"
                     viewBox="0 0 16 16"
                     aria-hidden="true">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </span>
            {% translate 'Unmark as favorite' %}
        {% else %}
            <span class="icon-indicator icon-indicator-{{ article.id }} text-start">
                {% include "core/partials/button_loading_indicator_icon.html" %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-star"
                     viewBox="0 0 16 16"
                     aria-hidden="true">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                </svg>
            </span>
            {% translate 'Mark as favorite' %}
        {% endif %}
    </button>
    <button class="btn btn-outline-secondary text-start"
            type="submit"
            form="update-article-actions-form-{{ article.id }}"
            formaction="{{ article|for_later_action_url }}">
        {% if article.is_for_later %}
            <span class="icon-indicator icon-indicator-{{ article.id }}">
                {% include "core/partials/button_loading_indicator_icon.html" %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-bookmark-fill"
                     viewBox="0 0 16 16">
                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2" />
                </svg>
            </span>
            {% translate 'Not for later' %}
        {% else %}
            <span class="icon-indicator icon-indicator-{{ article.id }}">
                {% include "core/partials/button_loading_indicator_icon.html" %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-bookmark"
                     viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                </svg>
            </span>
            {% translate 'For later' %}
        {% endif %}
    </button>
    {% if allow_refetch %}
        <form id="refetch-article-{{ article.id }}"
              class="visually-hidden"
              aria-hidden="true"
              method="post"
              action="{% url 'feeds:refetch_article' %}"
              hx-boost="true"
              hx-push-url="false"
              hx-indicator=".icon-indicator-{{ article.id }}">
            {% csrf_token %}
            <input type="hidden" name="url" value="{{ article.link }}" />
        </form>
        <button class="btn btn-outline-secondary text-start"
                form="refetch-article-{{ article.id }}">
            <span class="icon-indicator icon-indicator-{{ article.id }}">
                {% include "core/partials/button_loading_indicator_icon.html" %}
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-arrow-clockwise"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                </svg>
            </span>
            {% translate 'Re-fetch content' %}
        </button>
    {% endif %}
    <a class="btn btn-outline-secondary text-start open-original"
       role="button"
       data-article-id="{{ article.id }}"
       target="_blank"
       href="{{ article.link }}">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             class="bi bi-binoculars"
             viewBox="0 0 16 16">
            <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z" />
        </svg>
        {% translate 'Open original' %}
    </a>
    {% if not for_article_details %}
        <a class="btn btn-primary text-start"
           role="button"
           href="{% url 'feeds:article_details' article_id=article.id article_slug=article.slug %}?from_url={{ from_url|urlencode }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-eye"
                 viewBox="0 0 16 16"
                 aria-hidden="true">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
            </svg>
            {% translate 'Open details' %}
        </a>
    {% endif %}
    {% if for_article_details and from_url %}
        <a class="btn btn-outline-secondary text-start"
           role="button"
           href="{{ from_url }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-arrow-left"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
            {% translate 'Back' %}
        </a>
    {% endif %}
</div>
