<div class="card mb-2 {% if article.is_read %}opacity-50{% endif %}">
    <div class="card-body">
        <h2 class="card-title">{{ article.title }}</h2>
        <div class="card-subtitle">
            <p class="mb-0">
                {{ article.authors | join:", " }} – {{ article.published_at|date:"SHORT_DATETIME_FORMAT" }}
                {% if article.feed %}– {{ article.feed.title }}{% endif %}
            </p>
            {% if article.tags_to_display %}
                <p>
                    {% for tag in article.tags_to_display %}<span class="badge text-bg-primary me-1">{{ tag.name }}</span>{% endfor %}
                </p>
            {% endif %}
        </div>
        <p class="card-text">{{ article.summary | safe }}</p>
    </div>
    <div class="card-footer">{% include "feeds/partials/article_actions.html" %}</div>
</div>
