{% load i18n %}

<span class="me-2">
    {% include "core/partials/bs-icons/author.html" %}
    {{ article.authors|join:", "|safe }}
</span>
<span class="me-2">
    {% include "core/partials/bs-icons/published_at.html" %}
    {{ article.published_at | date:"SHORT_DATETIME_FORMAT" }}
</span>
<span class="me-2">
    {% if article.initial_source_type == 'FEED' %}
        {% include "core/partials/bs-icons/feed_source.html" %}
    {% else %}
        {% include "core/partials/bs-icons/article_source.html" %}
    {% endif %}
    {{ article.initial_source_title|safe }}
</span>
<span class="me-2">
    {% include "core/partials/bs-icons/reading_time.html" %}
    {% blocktranslate count reading_time=article.reading_time %}
        {{ reading_time }} minute
    {% plural %}
        {{ reading_time }} minutes
    {% endblocktranslate %}
</span>
