{% extends "base.html" %}

{% load i18n static crispy_forms_tags %}

{% block title %}
    {% translate "Manage API tokens" %}
{% endblock title %}
{% block page_js %}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{request.csp_nonce}}"
            type="module"></script>
{% endblock page_js %}
{% block content %}
    <h1>{% translate "Manage API tokens" %}</h1>
    {% if new_application_token %}
        <p class="alert-success">
            {% blocktranslate with token_title=new_application_token.title %}
                Successfully created token <em>{{ token_title }}</em>. Copy the token below, you
                won’t be able to get it back.
            {% endblocktranslate %}
            <pre>{{ new_application_token.token }}</pre>
        </p>
    {% endif %}
    <h2 class="mt-4">{% translate "List of tokens" %}</h2>
    <ul class="list-group">
        {% for token in tokens %}
            <li class="list-group-item" hx-target="this" hx-swap="outerHTML">
                <strong>{{ token.title }}</strong>
                <span>
                    {% blocktranslate with created_at=token.created_at|date:"SHORT_DATETIME_FORMAT" %}
                        Created on {{ created_at }}
                    {% endblocktranslate %}
                </span>
                {% if token.validity_end %}
                    <span>
                        {% blocktranslate with validity_end=token.validity_end|date:"SHORT_DATETIME_FORMAT" %}
                            Valid until {{ validity_end }}
                        {% endblocktranslate %}
                    </span>
                {% endif %}
                {% if token.last_used_at %}
                    <span>
                        {% blocktranslate with last_used_at=token.last_used_at|date:"SHORT_DATETIME_FORMAT" %}
                            Last used {{ last_used_at }}
                        {% endblocktranslate %}
                    </span>
                {% endif %}
                <form hx-post="{% url 'users:delete_token' token_id=token.id %}"
                      data-modal-id="danger-modal"
                      data-modal-title="{% translate 'Confirm token deletion' %}"
                      data-modal-body="{% blocktranslate with token_title=token.title %}Are you sure you want to delete the token '{{ token_title }}'{% endblocktranslate %}"
                      hx-confirm="Delete?">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
                </form>
            </li>
        {% empty %}
            <div class="list-group-item">{% translate "No token found" %}</div>
        {% endfor %}
    </ul>
    <h2 class="mt-4">{% translate "Create new token" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% translate "Create" %}</button>
    </form>
{% endblock content %}
