{% extends "base.html" %}

{% load crispy_forms_tags i18n static %}

{% block title %}
    {% translate "Edit your settings" %}
{% endblock title %}

{% block page_js %}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{ request.csp_nonce }}"
            type="module"></script>
{% endblock page_js %}

{% block content %}
    <h1>{% translate "Edit your settings" %}</h1>
    <form class="form-horizontal"
          method="post"
          action="{% url 'users:update_settings' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
            </div>
        </div>
    </form>
{% endblock content %}
