{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}
    {% translate "User settings" %}
{% endblock title %}

{% block content %}
    <div class="row">
        {% include "users/partials/user_settings_navigation.html" %}
        <div class="col col-md-9">
            <h1>{% translate "User settings" %}</h1>
            <form class="form-horizontal"
                  method="post"
                  action="{% url 'users:update' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
